---
layout: default
title: Научная школа "Инновационная вирусология"
permalink: /ivep2016/

speakers:
  - name:    Волчкова Елена Васильевна
    photo:
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name:    Умбетова Карина Туракбаевна
    photo:
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name:    Бессараб Тимур Петрович
    photo:
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name:    Цыганова Елена Валерьевна
    photo:
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name:    Влацкая Юлия Федоровна
    photo:
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name:    Оразмурадова Лейли Дурдымурадовна
    photo:
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

schedule:
  - date: Понедельник, 16 мая
    rows:
     - time:    09:00 - 09:30
       desc:    Регистрация. Открытие.
     - time:    9:30 - 10:30
       desc:    Общие вопросы ВИЧ-инфекции. Основные клинические проявления
       title:   к.м.н., заведующий отделением профилактики BИЧ-инфекции Московского городского центра профилактики и борьбы со СПИДом
       speaker: Бессараб Т.П.
     - time:    10:30 - 11:30
       desc:    Вирусные гепатиты. Патогенез. Диагностика. Лечение. Новые схемы терапии
       title:   д.м.н., профессор, заведущая кафедрой Инфекционных болезней МПФ Первый МГМУ им. И.М. Сеченова
       speaker: Волчкова Е.В.
     - time:    11:30 - 12:00
       desc:    Кофе-брейк
     - time:    12:00 - 13:00
       desc:    Эволюция антиретровирусной терапии
       title:   к.м.н., доцент кафедры Инфектологии и вирусологии Первый МГМУ им. И.М. Сеченова, врач-инфекционист Московского городского центра профилактики и борьбы со СПИДом
       speaker: Цыганова Е.В.
     - time:    13:00 - 14:00
       desc:    Алгоритм выбора первой линии терапии ВИЧ-инфекции
       title:   к.м.н., доцент кафедры Инфектологии и вирусологии Первый МГМУ им. И.М. Сеченова, врач-инфекционист Московского городского центра профилактики и борьбы со СПИДом
       speaker: Цыганова Е.В.
     - time:    14:00 - 16:00
       desc:    Дискуссия 'Новые лидеры для экономики здравоохранения'
       speaker: Экономический клуб OECONOMICUS (МГИМО(У)МИД РФ)
  - date: Вторник, 17 мая
    rows:
     - time:    09:00 - 09:30
       desc:    Регистрация. Кофе-брейк.
     - time:    09:30 - 10:30
       desc:    Репродуктивное здоровье ВИЧ-инфицированных
       title:   к.м.н., врач гинеколог-эндокринолог
       speaker: Оразмурадова Л.Д.
     - time:    10:30 - 11:30
       desc:    'Перинатальная профилактика ВИЧ-инфекции: опыт столичного здравоохранения'
       title:   к.м.н., заведующая амбулаторно-поликлиническим педиатрическим отделением Московского городского центра профилактики и борьбы со СПИДом
       speaker: Влацкая Ю.Ф.
     - time:    11:30 - 12:00
       desc:    Кофе-брейк
     - time:    12:00 - 13:00
       desc:    Морфологические аспекты ВИЧ-инфекции
       title:   к.м.н., заведующая Центральным патологоанатомическим отделением ГКУЗ 'МНПЦ борьбы с туберкулезом ДЗМ'
       speaker: Зюзя Ю.Р.
     - time:    13:00 - 14:00
       desc:    Живая книга. ВИЧ-инфекция от первого лица.
       title:   руководитель Российского Инициативного Молодежного Общества 'ЭГИДА'
       speaker: Лунченков Н.Ю.
     - time:    14:00 - 16:00
       desc:    Обзор клинической практики. Разбор клинических случаев.
       title:   к.м.н., врач-инфекционист Московского городского центра профилактики и борьбы со СПИДом
       speaker: Набиуллина Д.Р.

  - date: Среда, 18 мая
    rows:
     - time:    09:00 - 09:30
       desc:    Регистрация. Кофе-брейк.
     - time:    09:30 - 10:30
       desc:    'Иммунопатогенез группа: от правильного понимания к эффективному лечению'
       title:   д.м.н., профессор, заведущая кафедрой Инфекционных болезней МПФ Первый МГМУ им. И.М. Сеченова
       speaker: Волчкова Е.В.
     - time:    10:30 - 11:30
       desc:    Тяжелый острый респираторный синдром
       title:   д.м.н., профессор кафедры Инфекционных болезней МПФ Первый МГМУ им. И.М. Сеченова
       speaker: Умбетова К.Т.
     - time:    11:30 - 12:00
       desc:    Кофе-брейк
     - time:    12:00 - 13:00
       desc:    Экскурсия 'Научно-исследовательский институт эпидемиологии и микробиологии им. Н.Ф. Гамалеи'
     - time:    13:00 - 14:00
       desc:    Лабораторная диагностика вирусных инфекций
  - date: Четверг, 19 мая
    rows:
     - time:    09:00 - 17:00
       desc:    II Молодежная научно-практическая конференция 'Социально-значимые инфекции XXI века'
     - time:    17:00 - 18:00
       desc:    Церемония закрытия. Награждение.

registration-steps:
  - Заполнить анкету участника (см. ниже).
  - Подготовить мотивационное письмо на тему того, почему вы хотите участвовать в программе.
  - Заявки участников будут рассмотрены в течение 7 дней после подачи. По результатам экспертизы анкет будут отобраны 40 лучших претендентов.
  - Участники, прошедшие отбор, получат на почту уведомление о статусе заявки, а также подробную информацию об образовательной программе.

partners:
  - name: Департамент здравоохранения г. Москвы
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/mosdep.png
    url:  http://mosgorzdrav.ru/
  - name: Национальная Вирусологическая Ассоциация
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/nva.png
    url:  http://www.nvassociation.ru/
  - name: Первый МГМУ им. И.М. Сеченова
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/mma.png
    url:  http://www.mma.ru/
  - name: МГИМО
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/mgimo.png
    url:  http://mgimo.ru/
  - name: OECONOMICUS
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/oeconomicus.jpg
    url:  http://vk.com/oeconomicus
  - name: Биоключ
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/kl10ch.png
    url:  http://www.kl10.ch/
  - name: Future Biotech
    logo: https://dl.dropboxusercontent.com/u/3599809/egida/partners/future_biotech.jpg
    url:  http://futurebiotech.ru

---

{% include menu.html %}

<header id="site-header" class="site-header header-classic wrapper-table">
    <div class="slim-bg-purple overlay-01 parallax-hero" data-top="transform: translate3d(0px, 0px, 0px)" data-top-bottom="transform: translate3d(0px, -200px, 0px)" data-anchor-target="#site-header"></div>
    <div class="valign-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="intro text-center">
                        <h2>{{ page.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="ivep2016" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div id="program-description" class="section">
                    <h4>Описание</h4>
                    <p>С 16 по 19 мая 2016 г. Российское Инициативное Молодежное Общество "ЭГИДА" при поддержке Национальной Вирусологической Ассоциации и Московского городского центра профилактики и борьбы со СПИДом проводят Всероссийскую молодежную научную школу "Инновационная вирусология".</p>
                    <p><strong>Цель школы:</strong> обмен научными достижениями и практическим опытом в вопросах эпидемиологии, клинических, диагностических, терапевтических аспектов инфекционных болезней, актуальных в ежедневной клинической практике врачей различных специальностей; создание необходимых условий для поддержки одарённой молодежи, развития научных идей, распространения и популяризации научных знаний и инновационных технологий в области инфекционных болезней и медицины в целом; создание площадки для междисциплинарного взаимодействия молодых специалистов, освещение научных перспектив в вирусологии.</p>
                    <p>
                        <strong>Описание школы:</strong><br />
                        <ol>
                            <li><p>Лекционная программа от ведущих специалистов в области вирусологии (3 дня).</p></li>
                            <li><p>Мастер-классы от специалистов крупнейших отечественных и зарубежных фармацевтических компаний, научно-исследовательских институтов.</p></li>
                            <li><p>Дискуссия "Новые лидеры для экономики здравоохранения"</p></li>
                            <li><p>Уникальные экскурсии для участников образовательной программы.</p></li>
                            <li><p>Итоговая конференция с презентацией своих исследований.</p></li>
                        </ol>
                    </p>
                    <p>К участию приглашаются студенты, интерны, ординаторы и молодые ученые медицинских вузов.</p>
                    <p>К началу работы конференции будет издан сборник тезисов докладов. Заявки и тезисы принимаются до 10.05.2016 г. Всем авторам будет выслан в электронном виде сборник материалов мероприятия. Редакционная комиссия оставляет за собой право отбора и редактирования представленных для публикации тезисов.</p>
                </div>

                <div class="alert alert-danger" role="alert">
                    <p class="lead">Подача тезисов <strong>НЕ ОБЯЗАТЕЛЬНА</strong> для участия. Обучение и участие в школе <strong>БЕСПЛАТНОЕ</strong>.</p>
                </div>

                <div id="program-topics" class="section">
                    <h4>Ключевые темы</h4>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card-process">
                                <header class="first">
                                    <span class="icon-coverage"></span>
                                </header>
                                <div class="card-block">
                                    <p>ВИЧ-инфекции на современном этапе.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card-process">
                                <header>
                                    <span class="icon-basic_world"></span>
                                </header>
                                <div class="card-block">
                                    <p>Инфекционные болезни в современном мире: эволюция, текущие и будущие угрозы.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card-process">
                                <header>
                                    <span class="icon-recycle"></span>
                                </header>
                                <div class="card-block">
                                    <p>Вирусные заболевания респираторного и желудочно-кишечного тракта.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card-process">
                                <header class="last">
                                    <span class="icon-beaker"></span>
                                </header>
                                <div class="card-block">
                                    <p>Лабораторная диагностика инфекционных болезней.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-warning" role="alert">
                    <p class="lead">Программа мероприятия изменяется. Следите за изменениями.</p>
                </div>

                <!-- <div id="program-speakers" class="section">
                    <h4>Спикеры</h4>
                    <div class="owl-speakers owl-carousel owl-theme">
                        {% for speaker in page.speakers %}
                            <div class="row item">
                                <div class="col-sm-4">
                                    <img src="{{ speaker.photo }}" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h4>{{ speaker.name }}</h4>
                                    <p>{{ speaker.about }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div> -->

                <div id="program-schedule" class="section">
                    <h4>Расписание</h4>
                    {% for day in page.schedule %}
                        <table class="table table-bordered">
                            <caption><strong>{{ day.date }}</strong></caption>
                            <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in day.rows %}
                                <tr>
                                    <td style="width:105px">{{ row.time }}</td>
                                    <td>
                                        <strong>{{ row.desc }}</strong><br/>
                                        <span style="font-size:12px;font-style:italic;">
                                            {% if row.title %}
                                                {{ row.title }}<br/>
                                            {% endif %}
                                            {% if row.speaker %}
                                                {{ row.speaker }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>

                <div id="program-registration" class="section">
                    <h4 style="margin-bottom:10px">Регистрация</h4>
                    <div class="registration-steps">
                        <div class="row">
                            {% for step in page.registration-steps %}
                                <div class="col-md-6">
                                    <div class="step">
                                        <div class="icon">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                <strong class="fa-stack-1x">{{ forloop.index }}</strong>
                                            </span>
                                        </div>
                                        <div class="desc">
                                            <p>{{ step }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <h5>Форма регистрации</h5>

                    <div>
                        <p>С 16 по 19 мая 2016 г. Российское Инициативное Молодежное Общество "ЭГИДА" при поддержке Московского городского центра профилактики и борьбы со СПИДом и Национальной Вирусологической Ассоциации проводит Всероссийскую молодежную образовательную программу "Инновационная вирусология".</p>

                        <div class="row">
                            <div class="col-md-10">
                                <form id="program-registration-form" class="form-horizontal" data-parsley-validate="">

                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-5 control-label">Фамилия <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Фамилия" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-5 control-label">Имя <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Имя" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="middlename" class="col-sm-5 control-label">Отчество <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="middlename" name="middlename" placeholder="Отчество" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sex" class="col-sm-5 control-label">Пол</label>
                                        <div class="col-sm-7" style="padding-top:6px">
                                            <select name="sex" id="sex">
                                                <option value="">Выбрать</option>
                                                <option value="male">Мужской</option>
                                                <option value="female">Женский</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="dateofbirth" class="col-sm-5 control-label">Дата рождения</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="dateofbirth" name="dateofbirth" placeholder="Дата рождения">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="nationality" class="col-sm-5 control-label">Гражданство <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Гражданство" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="country" class="col-sm-5 control-label">Страна проживания <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="country" name="country" placeholder="Страна проживания" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="city" class="col-sm-5 control-label">Город <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="city" name="city" placeholder="Город" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address" class="col-sm-5 control-label">Почтовый адрес</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="address" name="address" placeholder="Почтовый адрес">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-5 control-label">Электронный адрес <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Электронный адрес" data-parsley-trigger="change" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="social" class="col-sm-5 control-label">Социальные сети</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="social" name="social" placeholder="Социальные сети">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vuz" class="col-sm-5 control-label">Ваше учебное заведение <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="vuz" name="vuz" placeholder="Ваше учебное заведение" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="faculty" class="col-sm-5 control-label">Факультет <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="faculty" name="faculty" placeholder="Факультет" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="study-year" class="col-sm-5 control-label">Курс <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="study-year" name="study-year" placeholder="Курс" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="motivation" class="col-sm-5 control-label">Мотивационное письмо <st>*</st></label>
                                        <div class="col-sm-7">
                                            <textarea rows="5" cols="38" id="motivation" name="motivation" placeholder="Мотивационное письмо" required data-toggle="popover" data-content="Внимание! Мотивационное письмо является Вашим пропуском на образовательную программу. Уделите особое внимание его написанию. Объем письма: 200 - 250 слов."></textarea>
                                        </div>
                                    </div>

                                    <hr/>

                                    <p><strong>Подача тезиса</strong></p>

                                    <div class="form-group">
                                        <label for="thesis-title" class="col-sm-5 control-label">Название <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="thesis-title" name="thesis-title" placeholder="Название исследовательской работы" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="thesis-authors" class="col-sm-5 control-label">Автор(ы) <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="thesis-authors" name="thesis-authors" placeholder="Автор(ы)" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="thesis-mentor" class="col-sm-5 control-label">Научный руководитель <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="thesis-mentor" name="thesis-mentor" placeholder="Должность, ученое звание, Фамилия И.О." required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="thesis-vuz" class="col-sm-5 control-label">Вуз <st>*</st></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="thesis-vuz" name="thesis-vuz" placeholder="Вуз" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="thesis-text" class="col-sm-5 control-label">Текст тезиса <st>*</st></label>
                                        <div class="col-sm-7">
                                            <textarea rows="5" cols="38" id="thesis-text" name="thesis-text" placeholder="Текст тезиса" required></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-5 col-sm-7">
                                            <button type="submit" class="btn btn-cal-default">Отправить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-warning" role="alert">
                    <p class="lead">
                        По всем вопросам обращаться по: <a href="mailto:info@rimo-egida.ru">info@rimo-egida.ru</a><br/>
                        Телефон для связи: +7 (916) 02-07-937
                    </p>
                </div>

                <div id="program-partners" class="section hidden-xs hidden-sm">
                    <h4>Организаторы и партнеры</h4>
                    <div class="row">
                        {% for partner in page.partners %}
                          <div class="col-md-4 col-sm-6 p-a-0">
                              <div class="partner-img">
                                  <a href="{{ partner.url }}">
                                    <img src="{{ partner.logo | prepend: site.baseurl }}" class="img-responsive center-block" data-placement="bottom" title="{{ partner.name }}" alt="{{ partner.name }}">
                                  </a>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="program-location" class="section">
                    <h4>Место проведения</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=LPfyftlK9BnXVpeGSTH4i4jYdD-9162R&&height=350&lang=ru_RU&sourceType=constructor"></script>
                        </div>
                        <div class="col-md-6">
                            <h5>
                                Москва, ул. Рочдельская, 15, стр.17-18, 3 этаж. Территория Трехгорной мануфактуры.
                            </h5>
                            <p>Метро "Улица 1905 года" или "Краснопресненская".</p>
                            <p>
                                Как пройти и проехать:
                                <ol>
                                    <li><strong>С ул. 1905г.:</strong> под шлагбаум, мимо клубов Jagger, затем Tiffany, пространства "Надежда" и ресторана Touche.</li>
                                    <li><strong>С ул. Рочдельской:</strong> под шлагбаум напротив АЗС "Лукойл", к клубу StereoDome, затем направо в арку, прямо до надземного перехода между строениями. После него - налево, вдоль длинного двухэтажного здания до конца.</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <!-- <nav id="program-nav" class="scrollspy hidden-xs hidden-sm" data-spy="affix" data-offset-top="215"> -->
                <nav id="program-nav" class="scrollspy hidden-xs hidden-sm" data-spy="affix" data-offset-top="485">
                    <ul class="nav">
                        <li><a href="#program-description">Описание</a></li>
                        <li><a href="#program-topics">Ключевые темы</a></li>
                        <!-- <li><a href="#program-speakers">Спикеры</a></li> -->
                        <li><a href="#program-schedule">Расписание</a></li>
                        <li><a href="#program-registration">Регистрация</a></li>
                        <li><a href="#program-partners">Организаторы и партнеры</a></li>
                        <li><a href="#program-location">Место проведения</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $(".owl-speakers").owlCarousel({
            items: 1,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });

        $('input, textarea').popover();

        Parsley.addMessages('ru', {
            defaultMessage: "Некорректное значение",
            required:       "Обязательное поле"
        });
        Parsley.setLocale('ru');

        $('#program-registration-form').parsley().on('form:submit', function() {
            var data = {};

            $(this.fields).each(function(idx, item) {
                data[item.$element.context.id] = item.value;
            });

            $.ajax({
                url: "https://formspree.io/info@rimo-egida.ru",
                method: "POST",
                data: data,
                dataType: "json"
            });

            this.$element.parent().parent().html('<div class="col-sm-12"><div class="alert alert-success" role="success"><p class="lead">Ваша заявка успешно отправлена!</p></div></div>')

            return false;
        });
    });
</script>

{% include footer.html %}
