---
layout: default
title: Образовательная программа инновационной вирусологии
permalink: /ivep2016/

speakers:
  - name:    Николай Лунченков
    photo:   https://dl.dropboxusercontent.com/u/3599809/egida/team/lunchenkov.jpg
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name:    Джулия Аракелян
    photo:   https://dl.dropboxusercontent.com/u/3599809/egida/team/arakelyan.jpg
    about:   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

schedule:
  - date: Понедельник, 25 апреля
    rows:
     - time: 09:00 - 09:30
       desc: Открытие образовательной программы
     - time: 09:30 - 10:30
       desc: Вступительная лекция
     - time: 10:30 - 11:30
       desc: Общие вопросы ВИЧ-инфекции. Основные клинические проявления
     - time: 11:30 - 12:00
       desc: Кофе-брейк
     - time: 12:00 - 12:30
       desc: Эволюция антиретровирусной терапии
     - time: 12:30 - 13:00
       desc: Алгоритм выбора первой линии терапии ВИЧ-инфекции
     - time: 13:00 - 13:30
       desc: Бизнес-кейс с экономическим клубом МГИМО
     - time: 15:00 - 18:00
       desc: Экскурсия
  - date: Вторник, 26 апреля
    rows:
     - time: 09:00 - 10:00
       desc: 'Перинатальная профилактика ВИЧ-инфекции: опыт столичного здравоохранения'
     - time: 10:00 - 11:00
       desc: Живая книга. ВИЧ-инфекция от первого лица
     - time: 11:00 - 11:30
       desc: Кофе-брейк
     - time: 11:30 - 13:00
       desc: Гепатиты. Патогенез. Клиника. Диагностика. Новые схемы лечения. Перспективы развития
     - time: 13:00 - 13:30
       desc: Процесс импортозамещения. Важность процесса для отечественного здравоохранения
     - time: 15:00 - 18:00
       desc: Экскурсия
  - date: Среда, 27 апреля
    rows:
     - time: 09:00 - 09:30
       desc: Эбола. Патогенез
     - time: 09:30 - 10:00
       desc: SARS. Патогенез. Клиника
     - time: 10:00 - 10:30
       desc: Вебинар "Japanese encephalitis"
     - time: 10:30 - 11:00
       desc: Кофе-брейк
     - time: 11:00 - 12:00
       desc: 'Иммунопатогенез группа: от правильного понимания к эффективному лечению'
     - time: 12:00 - 13:00
       desc: Лабораторная диагностика вирусных инфекций
     - time: 15:00 - 18:00
       desc: Экскурсия
  - date: Четверг, 28 апреля
    rows:
     - time: 09:00 - 17:00
       desc: Конференция
     - time: 17:00 - 18:00
       desc: Закрытие. Награждение

registration-steps:
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.

faq:
  - question: 111
    answer:   222

---

{% include menu.html %}

<header id="site-header" class="site-header header-classic wrapper-table">
    <div class="slim-bg-purple overlay-01 parallax-hero" data-top="transform: translate3d(0px, 0px, 0px)" data-top-bottom="transform: translate3d(0px, -200px, 0px)" data-anchor-target="#site-header"></div>
    <div class="valign-center">
        <div class="container">
            <div class="intro text-center">
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    </div>
</header>

<section id="ivep2016" class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div id="program-description" class="section">
                    <h4>Описание</h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
                </div>

                <div id="program-speakers" class="section">
                    <h4>Спикеры</h4>
                    <div class="owl-speakers owl-carousel owl-theme">
                        {% for speaker in page.speakers %}
                            <div class="row item">
                                <div class="col-sm-4">
                                    <img src="{{ speaker.photo }}" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h4>{{ speaker.name }}</h4>
                                    <p>{{ speaker.about }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="program-partners" class="section">
                    <h4>Организаторы и партнеры</h4>
                    <div class="row">
                        {% for partner in site.data.partners %}
                          <div class="col-md-4 col-sm-6 p-a-0">
                              <div class="partner-img">
                                  <a href="{{ partner.url }}">
                                    <img src="{{ partner.logo | prepend: site.baseurl }}" class="img-responsive center-block" data-placement="bottom" title="{{ partner.name }}" alt="{{ partner.name }}">
                                  </a>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="program-schedule" class="section">
                    <h4>Расписание</h4>
                    {% for day in page.schedule %}
                        <table class="table table-bordered">
                            <caption><strong>{{ day.date }}</strong></caption>
                            <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in day.rows %}
                                <tr>
                                    <td style="width:105px">{{ row.time }}</td>
                                    <td>{{ row.desc }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>

                <div id="program-registration" class="section">
                    <h4 style="margin-bottom:10px">Регистрация</h4>
                    <div class="registration-steps">
                        <div class="row">
                            {% for step in page.registration-steps %}
                                <div class="col-md-6">
                                    <div class="step">
                                        <div class="icon">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                <strong class="fa-stack-1x">{{ forloop.index }}</strong>
                                            </span>
                                        </div>
                                        <div class="desc">
                                            <p>{{ step }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <h5>Форма регистрации</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
                </div>

                <div id="program-faq" class="section">
                    <h4>Вопросы и ответы</h4>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Will my earnings from my clients on themewagon be separate?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes.
                                    This ensures a valid communication channel for all parties involved in any transactions.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">I've been logged out and don't know my password. How do I reset it?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme
                                    or a free one, you are encouraged to contribute. All credits are published along with the resources.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Why payment method do you accept?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    In congue mauris dolor, malesuada pulvinar mi interdum quis. Nulla luctus mattis leo ac tristique. Suspendisse nec est augue. Ut feugiat tellus ut lacus sodales, pharetra sollicitudin ipsum semper. Donec luctus pretium feugiat. Etiam luctus pulvinar neque, euismod condimentum ipsum. Cras pharetra facilisis sagittis. Sed molestie ex felis, sit amet dignissim justo mattis sed. Vestibulum convallis dapibus est, in mollis arcu. Pellentesque volutpat magna sit amet commodo faucibus.</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What will you offer to make hiring faster?</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Duis tempus lacus convallis dolor ullamcorper, ac feugiat sapien rutrum. Cras dignissim libero a elit luctus, non tempus sem pharetra. Maecenas viverra porta ligula at vestibulum. Nam porta elit sollicitudin risus egestas, at efficitur sapien congue. Quisque mollis ligula tellus, quis suscipit erat sollicitudin vitae. Aenean vel pulvinar mauris. Vestibulum consectetur arcu et aliquam vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla elementum tempor sagittis. Nullam eu lectus accumsan, blandit tellus ut, egestas lorem. Donec convallis blandit nibh, vitae bibendum felis interdum vel. Maecenas tincidunt efficitur ultrices. Curabitur gravida efficitur egestas.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What's being offered for large teams?</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nulla semper leo varius, auctor ante non, molestie tortor. Nunc nisl nisl, molestie sit amet egestas quis, egestas eget nunc. Maecenas pretium faucibus lacus, vitae scelerisque sapien sagittis sed. Phasellus consectetur, metus a gravida tincidunt, ligula mauris rutrum dui, ut imperdiet massa dui vel odio. Nunc dictum, elit luctus vulputate efficitur, nibh risus hendrerit lacus, tempus vehicula ante lectus at sem. Nam scelerisque nisl sit amet erat commodo, quis pretium erat maximus. Curabitur facilisis dui ut diam vestibulum, non feugiat dolor vestibulum. Nam pellentesque, ipsum quis volutpat convallis, ex odio iaculis elit, ut ultrices justo risus nec leo.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why are you focusing your innovations on Upwork?</a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Phasellus sed sapien ut tortor egestas rutrum vel posuere augue. Vestibulum ac ultrices metus. Donec faucibus quam vitae bibendum eleifend. Praesent at nulla vulputate, ullamcorper justo vitae, elementum sapien.
                                    </p>
                                    <p>
                                        Pellentesque rhoncus massa tortor, non viverra mi luctus consequat. Quisque vitae efficitur ex, feugiat accumsan nisl. Nulla maximus lacus in malesuada congue. Fusce cursus justo nisl, vitae gravida felis sagittis sed. Sed non consequat massa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <!-- <nav id="program-nav" class="scrollspy hidden-xs hidden-sm" data-spy="affix" data-offset-top="215"> -->
                <nav id="program-nav" class="scrollspy hidden-xs hidden-sm" data-spy="affix" data-offset-top="485">
                    <ul class="nav">
                        <li><a href="#program-description">Описание</a></li>
                        <li><a href="#program-speakers">Спикеры</a></li>
                        <li><a href="#program-partners">Организаторы и партнеры</a></li>
                        <li><a href="#program-schedule">Расписание</a></li>
                        <li><a href="#program-registration">Регистрация</a></li>
                        <li><a href="#program-faq">Вопросы и ответы</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $(".owl-speakers").owlCarousel({
            items: 1,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    });
</script>

{% include footer.html %}
