---
layout: page
title: Новости
permalink: /news/
---

<section id="blog-standard" class="section blog-standard multiple-blog">
    <div class="container">
    	<div class="row">
	        <div class="col-md-8 col-md-offset-2">
                {% for post in site.posts %}
                    <div class="different-blog">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="blog-title">
                                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                </h4>
                                <div class="tag">
                                    <span>{{ post.date | date: "%d.%m.%y" }}</span>
                                </div>
                                <div class="main-description">
                                    {{ post.excerpt }}
                                </div>
                            </div>
                        </div>
                        <div class="blog-footer">
                            {% if post.content contains "<!--more-->" %}
                                <div class="read-more">
                                    <a href="{{ post.url | prepend: site.baseurl }}" class="btn">
                                        Читать далее
                                        <span><i class="fa fa-angle-double-right"></i></span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
	        </div>
    	</div>
    </div>
</section>
