---
layout: page
title: Новости
permalink: /news/
---

<section id="blog-standard" class="section blog-standard multiple-blog">
    <div class="container">
    	<div class="row">
	        <div class="col-md-8 col-md-offset-2">
                {% for post in site.posts %}
                    <div class="different-blog">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="blog-title">
                                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                </h4>
                                <div class="main-description">
                                    {% assign post_length = post.content | number_of_words %}
                                    {{ post.content | truncatewords:150 }}
                                </div>
                            </div>
                        </div>
                        <div class="blog-footer">
                            {% if post_length > 150 %}
                                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-read-more">
                                    Читать далее
                                    <span><i class="fa fa-angle-double-right"></i></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
	        </div>
    	</div>
    </div>
</section>
