---
layout: default
title: Национальная школа инновационной вирусологии
permalink: /nivs2016/
team:
  - name: Николай Лунченков
    position: Руководитель
    photo: https://dl.dropboxusercontent.com/u/3599809/egida/team/lunchenkov.jpg
    message: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  - name: Джулия Аракелян
    photo: https://dl.dropboxusercontent.com/u/3599809/egida/team/arakelyan.jpg
    message: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
---

{% include menu.html %}

<header id="site-header" class="site-header header-classic wrapper-table">
    <div class="slim-bg-nivs2016 overlay-01 parallax-hero" data-top="transform: translate3d(0px, 0px, 0px)" data-top-bottom="transform: translate3d(0px, -200px, 0px)" data-anchor-target="#site-header"></div>
    <div class="valign-center">
        <div class="container">
            <div  class="intro text-center">
                <h2>{{ page.title }}</h2>
                <p class="subtitle">2016</p>
            </div>
        </div>
    </div>
</header>

<section id="conferention" class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div id="conf-description" class="section">
                    <h4>Описание</h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
                </div>

                <div id="conf-about" class="section">
                    <h4>О конференции в лицах</h4>
                    {% for member in page.team %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-profile" style="background-image: url({{ member.photo }})">
                                    <div class="team-intro">
                                        <h5>{{ member.name }}</h5>
                                        {% if member.position %}
                                            <p>{{ member.position }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p>{{ member.message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div id="conf-partners" class="section">
                    <h4>Организаторы и партнеры</h4>
                    <div class="row">
                        {% for partner in site.data.partners %}
                          <div class="col-md-4 col-sm-6 p-a-0">
                              <div class="partner-img">
                                  <a href="{{ partner.url }}">
                                    <img src="{{ partner.logo | prepend: site.baseurl }}" class="img-responsive center-block" data-placement="bottom" title="{{ partner.name }}" alt="{{ partner.name }}">
                                  </a>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="conf-schedule" class="section">
                    <h4>Расписание конференции</h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
                </div>

                <div id="conf-registration" class="section">
                    <h4 style="margin-bottom:10px">Регистрация</h4>
                    <div class="registration-steps">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="step">
                                    <div class="icon">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x">1</strong>
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="step">
                                    <div class="icon">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x">2</strong>
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="step">
                                    <div class="icon">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x">3</strong>
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="step">
                                    <div class="icon">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x">4</strong>
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="step">
                                    <div class="icon">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x">5</strong>
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="step">
                                    <div class="icon">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x">6</strong>
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis porta lorem, ut tincidunt elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5>Форма регистрации</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
                </div>

                <div id="conf-faq" class="section">
                    <h4>Вопросы и ответы</h4>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Will my earnings from my clients on themewagon be separate?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes.
                                    This ensures a valid communication channel for all parties involved in any transactions.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">I've been logged out and don't know my password. How do I reset it?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme
                                    or a free one, you are encouraged to contribute. All credits are published along with the resources.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Why payment method do you accept?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    In congue mauris dolor, malesuada pulvinar mi interdum quis. Nulla luctus mattis leo ac tristique. Suspendisse nec est augue. Ut feugiat tellus ut lacus sodales, pharetra sollicitudin ipsum semper. Donec luctus pretium feugiat. Etiam luctus pulvinar neque, euismod condimentum ipsum. Cras pharetra facilisis sagittis. Sed molestie ex felis, sit amet dignissim justo mattis sed. Vestibulum convallis dapibus est, in mollis arcu. Pellentesque volutpat magna sit amet commodo faucibus.</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What will you offer to make hiring faster?</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Duis tempus lacus convallis dolor ullamcorper, ac feugiat sapien rutrum. Cras dignissim libero a elit luctus, non tempus sem pharetra. Maecenas viverra porta ligula at vestibulum. Nam porta elit sollicitudin risus egestas, at efficitur sapien congue. Quisque mollis ligula tellus, quis suscipit erat sollicitudin vitae. Aenean vel pulvinar mauris. Vestibulum consectetur arcu et aliquam vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla elementum tempor sagittis. Nullam eu lectus accumsan, blandit tellus ut, egestas lorem. Donec convallis blandit nibh, vitae bibendum felis interdum vel. Maecenas tincidunt efficitur ultrices. Curabitur gravida efficitur egestas.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What's being offered for large teams?</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nulla semper leo varius, auctor ante non, molestie tortor. Nunc nisl nisl, molestie sit amet egestas quis, egestas eget nunc. Maecenas pretium faucibus lacus, vitae scelerisque sapien sagittis sed. Phasellus consectetur, metus a gravida tincidunt, ligula mauris rutrum dui, ut imperdiet massa dui vel odio. Nunc dictum, elit luctus vulputate efficitur, nibh risus hendrerit lacus, tempus vehicula ante lectus at sem. Nam scelerisque nisl sit amet erat commodo, quis pretium erat maximus. Curabitur facilisis dui ut diam vestibulum, non feugiat dolor vestibulum. Nam pellentesque, ipsum quis volutpat convallis, ex odio iaculis elit, ut ultrices justo risus nec leo.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why are you focusing your innovations on Upwork?</a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Phasellus sed sapien ut tortor egestas rutrum vel posuere augue. Vestibulum ac ultrices metus. Donec faucibus quam vitae bibendum eleifend. Praesent at nulla vulputate, ullamcorper justo vitae, elementum sapien.
                                    </p>
                                    <p>
                                        Pellentesque rhoncus massa tortor, non viverra mi luctus consequat. Quisque vitae efficitur ex, feugiat accumsan nisl. Nulla maximus lacus in malesuada congue. Fusce cursus justo nisl, vitae gravida felis sagittis sed. Sed non consequat massa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /#accordion -->
                </div>
            </div>

            <div class="col-md-3">
                <!-- <nav id="conf-nav" class="scrollspy hidden-xs hidden-sm" data-spy="affix" data-offset-top="215"> -->
                <nav id="conf-nav" class="scrollspy hidden-xs hidden-sm" data-spy="affix" data-offset-top="485">
                    <ul class="nav">
                        <li><a href="#conf-description">Описание</a></li>
                        <li><a href="#conf-about">О конференции в лицах</a></li>
                        <li><a href="#conf-partners">Организаторы и партнеры</a></li>
                        <li><a href="#conf-schedule">Расписание конференции</a></li>
                        <li><a href="#conf-registration">Регистрация</a></li>
                        <li><a href="#conf-faq">Вопросы и ответы</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</section>

{% include footer.html %}
