<footer id="footer" class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright">&copy; 2015-2016, {{ site.short_title }}</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-networks">
					<li><a href="http://vk.com/rimo_egida" data-placement="top" title="" data-original-title="Vkontakte"><i class="fa fa-vk"></i></a></li>
					<li><a href="https://www.facebook.com/rimoEGIDA" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://instagram.com/rimo_egida" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
				</ul>
            </div>
        </div>
    </div>
</footer>
