<section id="topNavBar" class="nav-wrapper">
    <div class="container-fluid">
        <div id="menuzord" class="menuzord transparent red">
            <a href="{{ site.baseurl }}/" class="menuzord-brand">
                <img style="height:50px" src="{{ "/assets/images/logo.svg" | prepend: site.baseurl }}" alt="california">
            </a>
            <ul class="menuzord-menu">
                <li><a href="{{ site.baseurl }}/news/">Новости</a></li>
                <li><a href="{{ site.baseurl }}/events/">Мероприятия</a></li>
                <li style="height: 1px" class="scrollable-fix"></li>
            </ul>

        </div>
    </div>
</section>
