<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <link rel="icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400|Ubuntu:300,400&subset=cyrillic">
    <link rel="stylesheet" href="{{ "/assets/lib/animsition/dist/css/animsition.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ "/assets/lib/magnific-popup/dist/magnific-popup.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/lib/FlexSlider/flexslider.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/lib/owlcarousel/owl-carousel/owl.carousel.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/lib/owlcarousel/owl-carousel/owl.theme.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/lib/owlcarousel/owl-carousel/owl.transitions.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/colors/red.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
</head>
