<header id="site-header" class="site-header flexslider">
    <ul class="slides">

        <li style="background-image: url({{ site.baseurl }}/assets/images/headers/purple.jpg)">
            <div class="header-fullscreen wrapper-table overlay-01">
                <div class="slim-slider-clouds"></div>
                <div class="valign-center text-center">
                    <div class="container">
                        <div class="intro">
                            <h1>25.04.2016</h1>
                            <p class="subtitle">СКОРО</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li style="background-image: url({{ site.baseurl }}/assets/images/headers/egida.jpg)">
            <div class="header-fullscreen wrapper-table overlay-01">
                <div class="valign-center">
                    <div class="container">
                        <div class="intro text-center">
                            <h1>{{ site.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</header>
