<header id="site-header" class="site-header flexslider">
    <ul class="slides">

        <!-- <li style="background-image: url({{ site.baseurl }}/assets/images/headers/purple.jpg)">
            <div class="header-fullscreen wrapper-table overlay-01">
                <div class="slim-slider-clouds"></div>
                <div class="valign-center text-center">
                    <div class="container">
                        <div class="intro">
                            <h1>16.05.2016</h1>
                            <p class="subtitle">Скоро</p>
                        </div>
                    </div>
                </div>
            </div>
        </li> -->

        <li style="background-image: url({{ site.baseurl }}/assets/images/headers/purple.jpg)">
            <div class="header-fullscreen wrapper-table overlay-01">
                <div class="valign-center">
                    <div class="container">
                        <div class="intro">
                            <h1>Образовательная программа инновационной вирусологии</h1>
                            <p class="subtitle">16-19 мая</p>
                            <div class="btn-cal-group">
                                <a href="{{ site.baseurl }}/ivep2016/" class="btn btn-cal-default">Узнать больше</a>
                            </div>
                            <div class="container-countdown text-center hidden-xs hidden-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li style="background-image: url({{ site.baseurl }}/assets/images/headers/egida.jpg)">
            <div class="header-fullscreen wrapper-table overlay-01">
                <div class="valign-center">
                    <div class="container">
                        <div class="intro text-center">
                            <h1>{{ site.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</header>
