<script src="{{ "/assets/lib/components-modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{{ "/assets/lib/imagesloaded/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lib/animsition/dist/js/animsition.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lib/magnific-popup/dist/jquery.magnific-popup.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lib/FlexSlider/jquery.flexslider.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lib/isotope/dist/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lib/owl.carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lib/countdown/dest/jquery.countdown.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/plugins.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35727920 = new Ya.Metrika({ id:35727920, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/35727920" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
