$ivep2016-accent-color: #763b7b;


/* Basic (re-defined) styles */
body {
  font-family: "Roboto", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", Helvetica, sans-serif;
}

h2 {
    font-size: 54px;
}

p {
    font-size: 16px;
}

blockquote {
    font-size: 1em;
}

ol, ul {
    font-size: 16px;
}

ol ul, ul ol {
    font-size: inherit;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 2px !important;
    color: #555;
    font-size: 14px;
    padding: 6px 12px;
}

.menuzord .showhide em {
    background: #fff;
}

ul.social-networks {
    float: right;
    list-style: none;
    margin: 0;
}

ul.social-networks li {
    display: inline;
}

ul.social-networks li a {
    color: #fff;
    padding-left: 5px;
}

@media only screen and (max-width: 767px) {
    .menuzord-responsive .menuzord-brand {
        margin-left: 0;
    }

    ul.social-networks {
        text-align: center;
        float: none;
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 26px;
    }
}

/* *************** index.html *************** */

.site-header .intro h1 {
    font-weight: 300;
}

@media only screen and (min-width: 992px) {
    .site-header .intro h1 {
        font-size: 5.7em;
    }

    .site-header .intro p.subtitle {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .site-header .intro h1 {
        font-size: 3.5em;
    }

    .site-header .intro p.subtitle {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 767px) {
    .site-header .intro h1 {
        font-size: 2.2em;
    }

    .site-header .intro p.subtitle {
        font-size: 0.9em;
    }
}

.intro .container-countdown {
    margin: 30px 0;
}

.site-header .intro .container-countdown p {
    margin-bottom: 30px;
}

#about-us p {
  color: #808080;
}

.lead {
  /*font-size: 1.2em;*/
  font-size: 18px;
}

.lead:first-letter {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.75;
  margin-right: 0;
  float: none;
}

#goals {
  padding-bottom: 0;
}

.goal-item {
  position: relative;
}

.goal-item .icon {
  color: #ff205a;
  font-size: 31px;
  position: absolute;
}

.goal-item .goal-desc {
  padding: 0px 20px 0px 65px;
  margin: 45px 0px;
}

.goal-item .goal-desc p {
  font-size: 1.125em;
  color: #808080;
}

.team-profile .team-intro h5 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 1.2em;
}

.portfolio-description h5 {
    text-transform: none;
}

.partner .partner-img {
  height: 250px;
  padding: 55px 0px;
  /*border: 1px solid #E0E0E0;*/
  margin-top: 0;
  margin-right: -1px;
}

.partner .partner-img img {
    opacity: 0.5;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.partner .partner-img img:hover {
    opacity: 1;
}

/* ***************** /news/ ***************** */

.blog-standard .blog-title {
    text-align: center;
    text-transform: none;
    margin: 30px 0 10px;
}

.blog-standard .tag {
    text-align: center;
    margin: 0 0 25px;
}

.blog-standard img {
    display: block;
    max-width: 100%;
    max-height: 450px;
    margin: 20px auto;
}

.blog-standard.multiple-blog .different-blog .blog-footer {
    /*padding-bottom: 30px;*/
}

.read-more {
    padding-bottom: 20px;
}

.read-more a {
    float: left;
    letter-spacing: 0;
    padding: 0;
}

.blog-standard.multiple-blog .different-blog .blog-footer .btn-read-more {
    padding-left: 0;
    float: left;
}

.owl-post {
    margin-top: 20px;
}

.owl-post .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-top: 0;
}

.owl-post .owl-controls {
    margin-top: -15px;
}

.owl-controls {
    position: relative;
    bottom: 0;
    right: 0;
}

/* ************* /ivep2016/ ************* */

.affix-top {
    /*margin-top: 20px;*/
    margin-top: 90px;
}

.affix {
    top: 90px;
}

#ivep2016 h4 {
    margin-bottom: 15px;
}

.slim-bg-purple {
    background-image: url(../images/headers/purple.jpg);
}

#conferention {
    padding: 40px 0;
}

#program-nav li a {
    color: #575757;
    font-size: 0.85em;
    font-weight: 500;
    padding: 5px 15px;
}

#program-nav li.active {
    border-left: 3px solid $ivep2016-accent-color;
}

#program-nav li.active a {
    color: $ivep2016-accent-color;
    padding-left: 12px;
}

#program-nav li a:hover {
    color: $ivep2016-accent-color;
    background-color: #fff;
    border-left: 1px solid $ivep2016-accent-color;
    padding-left: 14px;
}

#program-nav li a:focus {
    background-color: #fff;
}

#program-nav li.active a:hover {
    background-color: #fff;
    border-left: none;
    padding-left: 12px;
}

#conferention .section h4 {
    margin-bottom: 30px;
}

#program-about .team-profile {
    min-height: 360px;
    max-width: 260px;
    margin: 0 auto 40px;
}

#program-about .row:last-child {
    margin-bottom: 0;
}

.owl-speakers .item {
    /*height:*/
}

.owl-speakers .item img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 30px;
}

.owl-speakers .item h4 {
    font-size: 1.3em;
    margin-top: 0;
}

#program-schedule table caption {
    color: $ivep2016-accent-color;
}

.step {
  position: relative;
  margin-bottom: 35px;
}

.step .icon {
  color: $ivep2016-accent-color;
  font-size: 28px;
  position: absolute;
}

.step .desc {
  padding: 0 20px 0 65px;
  /*margin: 20px 0;*/
}

.step .desc p {
  color: #808080;
}

#program-registration #program-registration-form {
    margin-top: 15px;
}

#program-partners .partner-img {
    height: 215px;
}

#program-partners {
    padding-bottom: 0;
}

#program-registration #program-registration-form st {
    color: red;
}

#program-registration #program-registration-form .btn-cal-default {
    background: $ivep2016-accent-color;
}

#program-registration #program-registration-form .btn-cal-default:hover,
#program-registration #program-registration-form .btn-cal-default:focus {
    background-color: lighten($ivep2016-accent-color, 10);
    border-color: $ivep2016-accent-color;
}

ul.parsley-errors-list {
    list-style-type: none;
    padding-left: 14px;
    padding-top: 2px;
}

ul.parsley-errors-list li {
    font-size: 14px;
    color: #ff205a;
}
