<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target=".scrollspy" data-offset="100">

    <!-- Wrapper & Preloader
    ============================================= -->
    <div id="zwrapper" class="zwrapper animsition" data-animsition-in-class="fade-in" data-animsition-in-duration="1000" data-animsition-out-class="fade-out" data-animsition-out-duration="800" data-page-loader-text="california">

        {{ content }}

    </div><!--/#zwrapper-->

    {% include scripts.html %}

    </body>
</html>
