---
layout: default
---

{% include menu.html %}

<header id="header" class="header-inner mild-bg">
    <div class="container">
        <h4 class="text-center">{{ page.title }}</h4>
    </div>
</header>

{{ content }}

{% include footer.html %}

<script>
    window.onload = function() {
        $('#topNavBar').addClass('solid');

        $(".owl-post").owlCarousel({
            items: 1,
            animateOut: 'fadeOut',
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    };
</script>
